langchain
langchain-community
langchain-ollama              
langchain-openai
langchain-anthropic
langchain-neo4j
langchain_core
langchain-experimental
neo4j
tiktoken
yfiles_jupyter_graphs
python-dotenv
json-repair